/* Banner Style */
.banner {
  background-image: url("/public/images/bannerHomepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 300px 0px;
  background-position: center center;
}
.banner .caption {
  text-align: center;
}
.banner .caption h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.banner #search-section fieldset {
  display: inline-block;
}
.banner #search-section {
  position: relative;
}
.banner #search-section input.searchText {
  float: left;
  width: 570px;
  min-width: 280px;
  height: 49px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0px 15px;
  color: #fff;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
.banner #search-section input.main-button {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  border: none;
  margin-left: 10px;
  background-color: #00bcd4;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  margin-bottom: 30px;
}
.banner #search-section button:hover {
  background-color: #00a4b9;
}

.welcome {
  font-weight: bold;
  color: black;
}

/* Trusted Style */
.trusted-section {
  padding: 50px 0px 40px 0px;
  background-color: #f7f7f7;
}
.trusted-section-heading {
  text-align: center;
}
.trusted-section-heading h4 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 50px;
}
.trusted-item img {
  max-width: 156px;
  margin: 0 auto;
}

/* Services Style */
.services-section {
  margin-top: 95px;
}

.section-header {
  display: flex;
  flex-direction: row;
}

.services-section .section-heading h2 {
  color: #1e1e1e;
}
/* .services-section .service-item {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 50px 40px;
  text-align: center;
  margin-bottom: 30px;
} */
.services-page .service-item {
  margin-bottom: 30px;
}
.services-section .service-item i {
  /* color: #fff; */
  /* background-color: #00bcd4; */
  display: inline-block;
  /* width: 100px; */
  /* height: 100px; */
  /* line-height: 100px; */
  text-align: center;
  border-radius: 50%;
  font-size: 32px;
}
.services-section .service-item h4 {
  margin-top: 35px;
  font-size: 19px;
  color: #1e1e1e;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.col-md-12 {
  margin-bottom: 50px;
}

/* Features Style */
.features-section {
  margin-top: 85px;
}
.features-section .section-heading {
  text-align: center;
}
.features-section .section-heading h2 {
  color: #1e1e1e;
}
.features-section .feature-item {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 30px;
  height: 200px;
  display: flex;
  align-items: center;
}
.features-section .feature-item .icon {
  float: left;
  margin-top: 12px;
  max-width: 40%;
  margin-right: 30px;
}
.features-section .feature-item .icon img {
  width: 100%;
}
.features-section .feature-item h4 {
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  font-weight: 700;
}

/* Testimonials Style */
.testimonials-section {
  margin-top: 140px;
  background-color: #f7f7f7;
  padding: 100px 0px;
}
.testimonials-section .section-heading {
  text-align: center;
}
.testimonials-section .section-heading h2 {
  color: #1e1e1e;
}
.testimonial-item {
  text-align: center;
}
.testimonial-item i {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background: rgb(114, 2, 187);
  background: linear-gradient(
    145deg,
    rgba(114, 2, 187, 1) 0%,
    rgba(50, 100, 245, 1) 100%
  );
  border-radius: 50%;
  font-size: 18px;
  margin-bottom: 45px;
}
.testimonial-item p {
  font-size: 19px;
  font-weight: 300;
  font-style: italic;
  line-height: 35px;
  margin-bottom: 40px;
}
.testimonial-item h4 {
  font-size: 19px;
  font-weight: 700;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}
.testimonial-item span {
  display: inline-block;
  margin-top: 8px;
  font-size: 15px;
  color: #00bcd4;
}
.owl-testimonials .owl-dots .owl-dot {
  border-radius: 3px;
}
.owl-testimonials .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 50px;
}
.owl-testimonials .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #7bd9e5;
}
.owl-testimonials .owl-dots .owl-dot:focus {
  outline: none;
}
.owl-testimonials .owl-dots .owl-dot.active {
  background-color: #00bcd4;
}

/* About Us Page Style */
/* .about-us {
  padding: 140px 0px;
  background-color: #f7f7f7;
}
.about-us .left-image {
  margin-right: 30px;
}
.about-us .right-content {
  margin-left: 30px;
}
.about-us .left-image img {
  max-width: 100%;
  overflow: hidden;
}
.about-us .section-heading h2 {
  color: #1e1e1e;
}
.about-us .section-heading {
  margin-bottom: 40px;
  border-bottom: 3px solid #eee;
  padding-bottom: 40px;
}
#tabs {
  margin-right: 0px;
}
#tabs ul {
  margin: 0;
  padding: 0;
}
#tabs ul li {
  margin-right: 40px;
  display: inline-block;
}
#tabs ul li:last-child {
  margin-right: 0px;
}
#tabs ul li a {
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: all 0.3s;
}
#tabs ul .ui-tabs-active span {
  background: #faf5b2;
  border: #faf5b2;
  line-height: 90px;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: #00bcd4;
}
#tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}
.tabs-content {
  text-align: left;
  display: inline-block;
  transition: all 0.3s;
}
.tabs-content p {
  font-size: 14px;
  color: #7a7a7a;
  margin-top: 30px;
  margin-bottom: 0px;
} */

/* Team Style */
.team-section {
  margin-top: 140px;
}
.team-section .section-heading {
  text-align: center;
}
.team-section .section-heading h2 {
  color: #1e1e1e;
}
.team-item:hover img {
  opacity: 0.75;
}
.team-item {
  cursor: pointer;
  margin-bottom: 30px;
}
.team-item  img {
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10%;
}

.team-item .down-content {
  /* background-color: #f7f7f7; */
  text-align: center;
  padding: 30px;
}
.team-item h4 {
  font-size: 19px;
  font-weight: 700;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}
.team-item span {
  display: inline-block;
  margin-top: 8px;
  font-size: 15px;
  color: #00bcd4;
}

/* Contact Us Page Style */
.contact-us {
  margin-top: 140px;
}
.contact-us .contact-form {
  margin-right: 30px;
}
.contact-us .right-content {
  margin-left: 30px;
}
.contact-us .section-heading h2 {
  color: #1e1e1e;
}
.contact-us .section-heading {
  margin-bottom: 40px;
  border-bottom: 3px solid #eee;
  padding-bottom: 40px;
}
.contact-form input,
.contact-form textarea {
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #6a6a6a;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 46px;
  outline: none;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}
.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}
.contact-form ::-webkit-input-placeholder {
  /* Edge */
  color: #6a6a6a;
}
.contact-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6a6a6a;
}
.contact-form ::placeholder {
  color: #6a6a6a;
}
.contact-form button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  border: none;
  background-color: #00bcd4;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}
.contact-form button:hover {
  background-color: #00a4b9;
}
.contact-us .right-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.contact-us .right-content ul li {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #1e1e1e;
  letter-spacing: 0.5px;
}
.contact-us .right-content ul li:last-child {
  margin-bottom: 0px;
}
.contact-us .right-content ul i {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  background-color: #00bcd4;
  border-radius: 50%;
  color: #fff;
  margin-right: 15px;
  font-size: 24px;
}
#map {
  margin-top: 140px;
  margin-bottom: -147px;
}

/* Responsive Style */
@media (max-width: 1200px) {
  .banner #search-section input.main-button {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner #search-section input.searchText {
    float: none;
    width: 100%;
  }
  #search-section ul {
    text-align: center;
    margin-top: 80px;
  }
  #search-section ul li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  #search-section ul li fieldset label {
    font-size: 12px;
    margin-left: 5px;
  }
  #search-section ul li fieldset label em {
    font-size: 13px;
  }
  .contact-us .right-content ul li {
    text-align: center;
    width: 100%;
  }
  .contact-us .right-content ul li i {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .section-header {
    flex-direction: column;
  }
  .section-heading-image > img {
    margin-top: 10%;
    width: 90vw;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-brand {
    position: absolute;
    left: 30px;
    top: 10px;
  }
  .functional-buttons {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
    margin-left: 15px;
  }
  .banner #search-section fieldset button {
    margin-top: 0px;
  }
  .banner #search-section fieldset input {
    width: 100%;
    min-width: 280px;
    margin-bottom: 30px;
  }
  .navbar .navbar-brand {
    width: auto;
  }
  .navbar:after {
    display: none;
  }
  #navbarResponsive {
    z-index: 99999;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }
  .navbar .navbar-nav .nav-item {
    border-bottom: 1px solid #eee;
  }
  .navbar .navbar-nav .nav-item:last-child {
    border-bottom: none;
  }
  .navbar .navbar-nav a.nav-link {
    padding: 15px 0px;
    color: #1e1e1e !important;
  }
  .navbar .navbar-nav .active > .nav-link {
    color: #00bcd4 !important;
  }
  .about-us .left-image {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .about-us .right-content,
  .contact-us .right-content {
    margin-left: 0px;
  }
  .contact-us .contact-form {
    margin-right: 0px;
    margin-bottom: 45px;
  }
  .contact-us .right-content ul {
    margin-bottom: 30px;
  }
  .contact-us .right-content ul li {
    text-align: left;
    width: 100%;
  }
  .contact-us .right-content ul li i {
    margin-left: 0px;
  }
  .section-header {
    flex-direction: column;
  }
  .section-heading-image > img {
    margin-top: 10%;
    width: 90vw;
  }
}

@media (max-width: 767px) {
  .pricing-item {
    margin-bottom: 55px;
  }
  .footer-item {
    margin-bottom: 60px;
  }
  footer .sub-footer {
    margin-top: 20px;
  }
  .section-header {
    flex-direction: column;
  }
  .section-heading-image > img {
    margin-top: 10%;
    width: 90vw;
  }

  .banner {
    width: fit-content;
  }
}

@media (max-width: 576px) {
  .functional-buttons ul li:first-child a {
    padding: 6px 10px;
    letter-spacing: 0px;
  }
  .functional-buttons ul li:last-child a {
    padding: 6px 10px;
    letter-spacing: 0px;
  }
  .functional-buttons {
    margin-left: 7.5%;
  }
  .functional-buttons ul li {
    display: inline-block;
    margin-left: 3px;
  }
  .navbar .navbar-toggler {
    right: 20px;
  }
  .background-header .functional-buttons ul li:first-child a {
    padding: 6px 10px;
    letter-spacing: 0px;
  }
}

/* Team Area css
============================================================================================ */
.team_area {
  background: #ffffff;
}

.team_inner {
  margin-bottom: -50px;
  width: 90%;
  justify-content: center;
}

.team_item {
  text-align: center;
  margin-bottom: 50px;
}


.team_item .team_name {
  text-align: center;
  padding: 20px;
}

.team_item .team_name h4 {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  transition: all 300ms linear 0s;
}

.team_item .team_name p {
  margin-bottom: 0px;
}

.team_item:hover .team_img:before {
  opacity: 1;
}

.team_item:hover .team_img .hover {
  bottom: 0px;
}

.team_item:hover .team_name h4 {
  color: #fdbb00;
}

/* End Team Area css*/
/* ============================================================================================ */

.quote {
  text-align: center;
  font-size: 2.7rem;
  margin: auto;
  padding: 10px;
  max-width: 70%;
  position: relative;
  margin-top: 100px;
}

blockquote {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 20;
  line-height: 1;
}

.left {
  position: absolute;
  top: -70px;
  left: -20px;
  width: 150px;
  text-align: left;
  z-index: 10;
  font-size: 5rem;
  color: #336699;
  line-height: 200px;
}

.right {
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 150px;
  text-align: right;
  z-index: 10;
  font-size: 5rem;
  color: #336699;
  line-height: 200px;
}

small {
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  color: #336699;
  position: relative;
  z-index: 20;
}

small::before {
  content: "\2014 \0020";
  width: 5px;
}

.owl-dots {
  margin-bottom: 25px;
}

@media screen and (max-width: 1025px) {
  .quote {
    text-align: center;
    font-size: 2.3rem;
    margin: auto;
    padding: 15px;
    max-width: 70%;
    position: relative;
    margin-top: 100px;
  }

  small {
    font-size: 1.4rem;
    color: #336699;
    position: relative;
    z-index: 20;
  }

  small::before {
    content: "\2014 \0020";
    width: 5px;
  }
}

@media screen and (max-width: 600px) {
  .quote {
    text-align: center;
    font-size: 2rem;
    margin: auto;
    padding: 12px;
    max-width: 70%;
    position: relative;
    margin-top: 100px;
  }

  small {
    font-size: 1.2rem;
    color: #336699;
    position: relative;
    z-index: 20;
  }

  small::before {
    content: "\2014 \0020";
    width: 5px;
  }

  .left,
  .right {
    font-size: 3rem;
  }

  .left {
    left: -8px;
  }

  .right {
    right: -10px;
  }
}
.host-image{
  height: 234px !important;
  width: 60% !important;
  object-fit: cover;
  /* border: 2px solid black; */
  border-radius: 10%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* @media screen and (max-width: 600px) {
  .host-image{
    width: 60% !important;
  }
} */