footer {
  /* background-image: url(../images/footer-bg.jpg); */
  background-color: #000000;
  /* background-color: #9a9a98; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 80px 0px 60px 0px;
  text-align: center;
}
footer .footer-heading h2 {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
footer p {
  color: #fff;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
}
footer ul li:last-child {
  margin-bottom: 0px;
}
footer ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.3s;
}
footer ul li a:hover {
  color: #fff;
  opacity: 0.75;
}

footer .sub-footer {
  text-align: center;
  margin-top: 80px;
  border-top: 1px solid rgba(250, 250, 250, 0.3);
  padding-top: 60px;
}

footer .sub-footer a {
  color: #fff;
}
